html{
    color: white;
    background-color: black;
    overflow: hidden;
}
.App{
    background-color: black;
}
.date{
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 57px;
    text-align: center;
    text-decoration-line: underline;
 
    color: #FFFFFF;
 
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.time{ 
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 30px;
    padding-right: 30px;
    padding-left: 50px; 
    color: #FFFFFF;
}
.location{ 
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 30px;
    color: #FFFFFF;
}
.temp{
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 75px;
    text-decoration-line: underline;
    color: #FFFFFF;
 
}
.icon{
    width: 320px;
    height: 340px;
    margin-right: -25px;
}
.iconData{
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 30px;
    padding-top: 5px;
 
    color: #FFFFFF;
}
.logo{
    width: 165px;
    height: 155px;
} 
.quote{
    position: absolute;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 85px;
    left: 45%;
    padding-top: 100px;
    color: #FFFFFF;
 
}
.quoteAuthor{
    position: relative;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 75px;
    text-align: right;
    right: 25%;
    margin-top: -2%;
 
    color: #FFFFFF;
}
.logoHome{
    width: 950px;
    height: 950px;
}

.locationHome{
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
 
}
.timeHome{
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    padding-right: 20px;
    padding-left: 20px; 
    color: #FFFFFF;
}
.dateHome{
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    text-decoration-line: underline;
    padding-right: 20px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo2{
    width: 165px;
    height: 155px;
}
.welcome{
    padding-top: 150px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 115px;
    text-align: center;
    text-decoration-line: underline;
    font-feature-settings: 'pnum' on, 'onum' on;
    color: #FFFFFF;
}
.todoList{
    background: #000;
    padding-left: 100px;
    padding-top: 100px;
}
.todoLabel{
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color:white;
    padding-bottom:10px;

  }
  .todoText{
    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 40px;
    background: #000; 
    color:white;
    padding: 10px;
  }
  .flex{
      display: flex;
  }
  .wrap1{
      justify-content: flex-end;
  }
  .wrap2{
    justify-content: center;
  }
  .wrap3{
    justify-content: space-between;
    padding-top: 20%;
    padding-left: 45px
  }
  .column{
      flex-direction: column;
  }
  .pad{
      padding:50px;
  }
  .moveDown{
    padding-top: 155px;
  }
